@import '~antd/dist/antd.css';
@import './variable.scss';
@import './modal.scss';
@import './animation.scss';

.App {
  text-align: center;
  margin: 10px;
  padding: 10px;

  @media only screen and (max-width: 768px) {
    margin: 0px;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  .site-form-in-drawer-wrapper {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 100%;
    padding: 10px 16px;
    border-top: 1px solid #e9e9e9;
    background: #fff;
    text-align: right;
  }

  .post-grid {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    margin: 20px 0;
    width: 100%;

    @media (max-width: 768px) {
      width: 100%;
      display: grid;
      grid-gap: 0px;
      grid-template-columns: auto auto;
    }
    @media (max-width: 425px) {
      width: 100%;
      display: grid;
      grid-gap: 0px;
      grid-template-columns: auto;
    }
  }

  .ant-drawer-content-wrapper {
    width: 450px !important;
    @media (max-width: 425px) {
      width: 100% !important;
    }
  }

  .menu-item {
    color: $color-red;
  }

  .person-card {
    animation: fadein 2s;
  }

  .fade-in {
    animation: fadein 3s;
  }
  
  .fade-out {
    animation: fadein 3s;
  }
  
}



